/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
    background-image: url(../images/background.jpg);
    width: auto;
    height: auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.search-wrapper {
    width: 70%;
    height: 100px;
    margin: auto;
}
.search-input {
    float: left;
    width: 90%;
    margin-left: 12px;
}
.search-label {
    float: left;
    width: 5%;
    height: 66px;
    margin-top: 15px;
    margin-left: 5px;
    background: transparent;
    cursor: pointer;
}
.filter-wrapper {
    width: 70%;
    height: 100px;
    margin: auto;
}
.filter-property-type {
    float: left;
    width: 18%;
}
.filter-min-bedroom-number {
    float: left;
    width: 18%;
    margin-left: 5px;
}
.filter-max-bedroom-number {
    float: left;
    width: 18%;
    margin-left: 5px;
}
.filter-min-price {
    float: left;
    width: 18%;
    margin-left: 5px;
}
.filter-max-price {
    float: left;
    width: 18%;
    margin-left: 5px;
}
.property-list-divider {
    margin-top: 30px;
    margin-bottom: 40px;
}
.property-wrapper {
    width: 80%;
    height: 570px;
    margin: auto;
}
.word-cloud-wrapper {

}
.review-wrapper {
    margin-top: 20px;

}
.property-price-text {
    text-align: right;
}
.property-rating {
    padding-top: 5px;
}
.bedroom-num-wrapper {
    margin-top: 25px;
    width: 80px;
    height: 50px;
}
.bedroom-num-text {
    float: left;
    font-size: 20px;
    margin-top: 3px;
}
.bedroom-icon-wrapper {
    float: left;
    margin-left: 6px;
}
.bedroom-icon {
    width: 30px;
    height: 30px;
}
.social-logo-img {
    width: 30px;
    height: 40px;
    padding-top: 10px;
}
.search-module {
    margin-top: 75px;
    margin-bottom: 113px;
}
.error-list {
    width: 50%;
    margin-left: 250px;
    color: red;
}
.form-login {
    font-size: 17px;
    margin: 0 auto;
    width: 450px;
}
.form-register {
    font-size: 17px;
    margin-left: 200px;
    width: 650px;
}
.form-header{
    font-size: 20px;
    width: 30%;
    margin: auto;
}
.form-elements{
    width: 28%;
    margin-left: 150px;
}
td.tag {
    width: 20%;
}
td.field {
    width: 35%;
}
td.error{
    width: 60%;
    color: red;
}
label {
    font-size: 16px;
}
.container label{
    font-size: 14px !important;
    color: black !important;
}
#search{
    font-size: 16px !important;
    color: black !important;
}
