{% extends "studentnest/base.html" %}
{% load static %}

{% block content %}
    {% if success_msg %}
	<div class="display-message">
		<p class="success-message-text">{{ success_msg }}</p>
	</div>
	{% endif %}
    {% if password_error %}
	<div class="display-message">
		<p class="error-message-text">{{ password_error }}</p>
	</div>
	{% endif %}
    <div class="display-message">
  	{% for error in change_password_form.non_field_errors %}
		<p class="error-message-text">{{ error }}</p>
	{% endfor %}
  	</div>

    <form class="form-change-password" action="{% url 'studentnest:change_password' %}" method="post">
		<table>
			{% for field in change_password_form.visible_fields %}
			<tr>
		        <td>{{field.label_tag}}</td>
		        <td>{{field}}</td>
		        {% for error in field.errors %}
		        <td class="error-message-text"><p>{{error}}</p></td>
		        {% endfor %}
		    </tr>
		    {% endfor %}
		</table>
        <div class="form-elements">
		    <button class="btn btn-md btn-primary btn-edit-profile" type="submit">Change Password</button>
        </div>
		{% csrf_token %}
	</form>
{% endblock %}